<div class="page-content latest-posts">
  <div class="wrap">
    <ul class="posts">
      {% for page in site.posts %}
      <li class="post">
        <header class="post-banner">
          {% include metadata.html %}
          <a href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.excerpt }}</a>
        </header>
        <article class="post-lead">
          <h2>
            <a class="post-link" href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.title }}</a>
          </h2>
          <a href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.lead }}</a>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
