<div class="page-content latest-posts">
  <div class="wrap">
    <ul class="posts">
      {% assign _page = page %}
      {% for page in site.posts offset:1 %}
      <li class="post">
        <header class="post-banner">
          <a class="post-link" href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.title }}</a>
          {% include metadata.html %}
          <a href="{{ page.url | remove: '/index.html' | prepend: site.baseurl }}">{{ page.excerpt }}</a>
        </header>
      </li>
      {% endfor %}
      {% assign page = _page %}
    </ul>
  </div>
</div>
